:root {
  margin: 0px;
  padding: 0px;
}
h1 {
  font-size: 100px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(107, 190, 177);
  margin-top: 0px;
  padding: 0x;
  text-align: center;
}

h2 {
  font-size: 50px;
}

.card {
  margin: 30px;
  display: flex;
  float: left;
  text-align: left;
  border: 3px solid pink;
}
.card-header {
  font-size: 20px;
  background-color: rgb(216, 159, 53);
  text-align: center;
}
main {
  margin: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

